<!DOCTYPE html>
html(lang="en")
  include ../includes/mixins.pug
  include ../includes/head.pug
  body
    header
      .title
        h1= title
      include ../includes/navMain.pug 
    block content
