<!DOCTYPE html>
<html>
  <head>
    <title>PAF Guessing Game w/ Express</title>
    <link rel="stylesheet" href="/stylesheets/error.css" />
  </head>
  <body>
    <div class="content-layout">
      <div id="content" class="text-input">
        <h1>Oops!</h1>
        <h2>We can't seem to find the page you're looking for.</h2>
        <h3>Error code: <%= error.status %></h3>
        <h3>Here are some helpful links instead:</h3>
        <ul id="error-nav-links">
          <a href="/">Home</a>
        </ul>
        <pre><%= error.stack %></pre>
      </div>
    </div>
  </body>
</html>
