<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/stylesheets/success.css")
    title=title
  body
    header
    main(class="l-grid", role="main")
      .title
        h1= title
      nav(class="nav nav--main l-grid", role="navigation")
        //- Hamburger Menu
        label(for="hamburger" class="nav__label") &#9776
        input(type="checkbox", id="hamburger")
        ul(class="nav__ul l-grid")
          li: a.nav-link(href="/start") Play Again?
          li: a.nav-link(href="/") Home
          li: a.nav-link(href="/history") History
      .content-layout
        #content
          h2 Congratulations! You won
    footer
      nav(class="nav nav--footer l-grid")
        a(href="/start") Play Again?
          