extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {href: '/stylesheets/css/main.css'}
  ])
block nav-link-list
  +nav-links([
    {path: '/', desc: 'Home'},
    {path: '/start', desc: 'Play Again?'},
    {path: '/history', desc: 'History'}
    ])
block content
  main(role="main")
    .content-layout
      #content
        h2 Congratulations! You won
  footer
    nav(class="nav nav--footer l-grid")
      a(href="/start") Play Again?
          